input {
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration-color: green;
}
button {
  font-size: 24px;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}
.signup {
  padding-left: 20px;
  color: #6495ED;
}
